{% set index = true %}
{% set title = "Каталог" %}

{% extends "layouts/_layout.twig" %}

{% block head %}
    <script defer src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            $('.slider-range').each(function () {
                const $this = $(this),
                    // parentForm = $this.closest('form'),
                    range = $('.slider-range__range', $this),
                    min = parseInt($this.data('range-min')),
                    max = parseInt($this.data('range-max')),
                    from = parseInt($this.data('range-from')),
                    to = parseInt($this.data('range-to')),
                    inputFrom = $('.slider-range__from', $this),
                    inputTo = $('.slider-range__to', $this);

                range.slider({
                    range: true,
                    min: min,
                    max: max,
                    values: [from, to],
                    animate: 'fast',
                    create: function () {
                        inputFrom.val($(this).slider('values', 0));
                        inputTo.val($(this).slider('values', 1));
                    },
                    slide: function (e, ui) {
                        inputFrom.val(ui.values[0]).trigger('change.filterFloatBtn');
                        inputTo.val(ui.values[1]).trigger('change.filterFloatBtn');
                        clearTimeout(window.cadTimer);
                        window.cadTimer = setTimeout(function () {
                            // document.getElementById('catalogsmartfilter').submit();
                        }, 500);
                    }
                });

                range.before('<div class="slider-range__range-bg" />');

                inputFrom.on('change', function () {
                    var val = $(this).val();
                    range.slider('values', 0, val);
                });

                inputTo.on('change', function () {
                    var val = $(this).val();
                    range.slider('values', 1, val);
                });

                // parentForm.on('reset', function () {
                //     range.slider('values', 0, min);
                //     range.slider('values', 1, max);
                // });
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% include "./partials/_breadcrumbs.twig" %}
    <h1 class="title-page">Халаты</h1>
    <section class="section-catalog">
        <div class="section-catalog__sidebar">
            <div class="section-catalog__menu">
                {% include "./partials/_recommendations.twig" %}
            </div>
            <div class="menu-sidebar">
                {% for menu in data.catalogMenu %}
                    <div class="menu-sidebar__item">
                        <div class="menu-sidebar__name">{{ menu.title }} {{ mixins.icon('arrow-bottom') }}</div>
                        <div class="menu-sidebar__list">
                            {% for item in menu.list %}
                                <a href="#" class="menu-sidebar__link {% if item.active === 'true' %}is-active{% endif %}">{{ item.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="section-catalog__main">
            <div class="section-catalog__top">
                <div class="section-catalog__filters">
                    <div class="filter-item none sm-flex" data-modal-open="filters">
                        <div class="filter-item__text">Все фильтры</div>
                        <div class="filter-item__icon">0</div>
                    </div>
                    <div class="filter-item sm-none" data-modal-open="filters">
                        <div class="filter-item__text">Цена</div>
                        <div class="filter-item__icon">1</div>
                    </div>
                    <div class="filter-item sm-none" data-modal-open="filters">
                        <div class="filter-item__text">Размер</div>
                        <div class="filter-item__icon">2</div>
                    </div>
                    <div class="filter-item sm-none" data-modal-open="filters">
                        <div class="filter-item__text">Ткань</div>
                    </div>
                </div>
                <div class="section-catalog__sort">
                    <div class="select select--sm-fixed select--mod" data-select="filter">
                        <div class="select__bg" data-select-close></div>
                        <div class="select__head" data-select-head="">
                            <div class="select__title select__title-sort" data-select-title="">
                                Сначала популярные
                            </div>
                            {{ mixins.icon('arrow-bottom') }}
                        </div>
                        <div class="select__body" data-select-body="">
                            <ul class="select__list select__list-sort">
                                <li class="" data-select-item="">
                                    <a rel="canonical"
                                       href="?sort_by=SCALED_PRICE_2&amp;sort_order=ASC">
                                        по цене (сначала дорогие) </a>
                                </li>
                                <li class="" data-select-item="">
                                    <a rel="canonical"
                                       href="?sort_by=SCALED_PRICE_2&amp;sort_order=DESC">
                                        по цене (сначала дешевые) </a>
                                </li>
                                <li class="" data-select-item="">
                                    <a rel="canonical"
                                       href="?sort_by=PROPERTY_KHITY_PRODAZH&amp;sort_order=ASC,NULLS">
                                        по популярности (популярные в начале) </a>
                                </li>
                                <li class="" data-select-item="">
                                    <a rel="canonical"
                                       href="?sort_by=PROPERTY_KHITY_PRODAZH&amp;sort_order=NULLS,DESC">
                                        по популярности (популярные в конце) </a>
                                </li>
                            </ul>
                        </div>
                        <input type="hidden" class="select__input" value="Женская" data-select-input="">
                    </div>
                </div>
            </div>
            <div class="section-catalog__active-filters">
                <form id="active-filters" class="active-filters">
                    <div class="active-filters__row">
                        {% for i in range(0, 4) %}
                            <div class="active-filters__item">
                                Цвет {{ i }}
                                <input id="arrFilter_2124_3217157474-{{ i }}" type="checkbox" hidden="hidden" value="Y">
                                <label for="arrFilter_2124_3217157474-{{ i }}" class="active-filters__label">
                                    {{ mixins.icon('close') }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="section-products">
                <div class="section-products__grid-mod">
                    {% for i in range(0, 16) %}
                        {% include "partials/_card-product.twig" %}
                    {% endfor %}
                </div>
            </div>
            <div class="section-catalog__pagination">
                {% include "partials/_pagination.twig" %}
            </div>
            <div class="section-seo">
                <h2 class="section-seo__title title-h2">С этими товарами ищут</h2>
                <div class="section-seo__grid">
                    {% for i in range(0, 4) %}
                        <a href="#" class="btn btn--big btn--stroke btn--black">Платья</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <div class="modal modal--right modal--sm-bottom" data-modal="filters">
        <div class="modal__inner custom-scroll" data-modal-inner="filters">
            <div class="modal__close" data-modal-close="filters">
                {{ mixins.icon('close') }}
            </div>
            <div class="modal__container">
                <h2 class="modal__title">Фильтр</h2>
                <div class="modal__scroll modal__scroll--mod custom-scroll">
                    <form action="#" class="form-filters">
                        <div class="form-filter">
                            <div class="slider-range"
                                 data-range-min="145"
                                 data-range-max="2415"
                                 data-range-from="500"
                                 data-range-to="2415">
                                <div class="slider-range__head">
                                    <div class="slider-range__head-block">От
                                        <input name="catalogFilter_P45_MIN"
                                               value="500"
                                               class="slider-range__input slider-range__from" onkeyup="smartFilter.keyup(this)">
                                    </div>
                                    <div class="slider-range__head-block">До
                                        <input name="catalogFilter_P45_MAX"
                                               value="2415"
                                               class="slider-range__input slider-range__to" onkeyup="smartFilter.keyup(this)">
                                    </div>
                                </div>
                                <div class="slider-range__container">
                                    <div class="slider-range__range"></div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-list" data-max-count="5">
                            <div class="filter-list-wrap">
                                <div class="filter-list__top">
                                    <div class="filter-list__name">Ткань:</div>
                                    <div class="filter-list__reset">
                                        Сбросить {{ mixins.icon('close') }}
                                    </div>
                                </div>
                                <div class="filter-list__scroll custom-scroll">
                                    {% for i in range(0, 3) %}
                                        <div class="filter-list__item filter-list__item">
                                            <div class="checkbox checkbox--stroke checkbox--min">
                                                <input type="checkbox" id="arrFilter_2076_763644074{{ i }}" {% if i === 2 %}checked{% endif %} class="checkbox__input" >
                                                <label for="arrFilter_2076_763644074{{ i }}" class="checkbox__label">
                                                    <span class="checkbox__icon">{{ mixins.icon('check-mark') }}</span>
                                                    <span class="checkbox__text checkbox__text--min">
                                                    Ткань {{ i }}
                                                </span>
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="filter-list" data-max-count="5">
                            <div class="filter-list-wrap">
                                <div class="filter-list__top">
                                    <div class="filter-list__name">Размер:</div>
                                    <div class="filter-list__reset">
                                        Сбросить {{ mixins.icon('close') }}
                                    </div>
                                </div>
                                <div class="filter-list__scroll custom-scroll">
                                    {% for i in range(30, 50) %}
                                        <div class="filter-list__item filter-list__item">
                                            <div class="checkbox checkbox--stroke checkbox--min">
                                                <input type="checkbox" id="arrFilter_{{ i }}" {% if i === 33%}checked{% endif %} {% if i === 36%}checked{% endif %}  class="checkbox__input" >
                                                <label for="arrFilter_{{ i }}" class="checkbox__label">
                                                    <span class="checkbox__icon">{{ mixins.icon('check-mark') }}</span>
                                                    <span class="checkbox__text checkbox__text--min">
                                                    {{ i }}
                                                </span>
                                                </label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="filter-list filter-list--color" data-max-count="10">
                            <div class="filter-list-wrap">
                                <div class="filter-list__top">
                                    <div class="filter-list__name">Цвет:</div>
                                    <div class="filter-list__reset">
                                        Сбросить {{ mixins.icon('close') }}
                                    </div>
                                </div>
                                <div class="filter-list__scroll filter-list__scroll--grid custom-scroll">
                                    {% for item in data.colors %}
                                        <div class="filter-list__item">
                                            <div class="checkbox-filter-color">
                                                <input type="checkbox"
                                                       id="arrFilter_{{ item.id }}"
                                                       {% if item.color === '#FFFFFF'%}checked{% endif %}
                                                       class="checkbox-filter-color__input"
                                                >
                                                <label for="arrFilter_{{ item.id }}" class="checkbox-filter-color__label" style="color: {{ item.color }}"></label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-filters__btns">
                            <button type="submit" class="btn btn--medium">Применить</button>
                            <button type="button" class="btn btn--medium btn--stroke btn--accent">Очистить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "partials/_section-advantages.twig" %}
{% endblock %}
