{% set title = "Детальная страница товара" %}

{% extends "layouts/_layout.twig" %}

{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css"/>
    <script async src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
{% endblock %}

{% block content %}
    {% include "./partials/_breadcrumbs.twig" %}
    <div class="top-page">
        <h1 class="title-page">Б0760-2 Футболка женская люрекс</h1>
        <div class="top-page__back lg-none">
            <a href="#">{{ mixins.icon('arrow-long-left') }} К списку товаров</a>
        </div>
    </div>
    <section class="product-detail">
        <div class="product-detail__images">
            <div class="product-slider">
                <div class="product-slider__main">
                    <div class="swiper swiper-top">
                        <div class="swiper-wrapper">
                            {% for i in range(0, 6) %}
                                <div class="swiper-slide">
                                    <a href="img/product-1.jpg"
                                       data-fancybox="gallery"
                                       class="product-image product-image--border">
                                        <picture>
                                            <source data-srcset="img/product-1.webp" type="image/webp"/>
                                            <img class="lazy" data-src="img/product-1.jpg" alt="">
                                        </picture>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="swiper-arrow swiper-arrow--mod sm-none">
                        <div class="swiper-arrow__item swiper-arrow__item--prev">
                            {{ mixins.icon('swiper-prev') }}
                        </div>
                        <div class="swiper-arrow__item swiper-arrow__item--next">
                            {{ mixins.icon('swiper-next') }}
                        </div>
                    </div>
                </div>
                <div class="product-slider__nav sm-none">
                    <div class="swiper swiper-bottom">
                        <div class="swiper-wrapper">
                            {% for i in range(0, 6) %}
                                <div class="swiper-slide">
                                    <div class="product-image product-image--border">
                                        <picture>
                                            <source data-srcset="img/product-1.webp" type="image/webp"/>
                                            <img class="lazy" data-src="img/product-1.jpg" alt="">
                                        </picture>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-detail__row">
            <div class="product-detail__col">
                <div class="product-detail-description"><span>Артикул:</span> 5648752</div>
                {% include "partials/product/_product-prices.twig" %}
                <div class="product-colors">
                    <div class="product-colors__title">Цвет товара: Зеленый</div>
                    <div class="product-colors__row custom-scroll">
                            <a href="#" class="product-colors__item is-active">
                                <div class="product-colors__image">
                                    <picture>
                                        <source data-srcset="img/product-1.webp" type="image/webp"/>
                                        <img class="lazy" data-src="img/product-1.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-colors__name">Зеленый</div>
                            </a>
                        {% for i in range(0, 7) %}
                            <a href="#" class="product-colors__item">
                                <div class="product-colors__image">
                                    <picture>
                                        <source data-srcset="img/product-2.webp" type="image/webp"/>
                                        <img class="lazy" data-src="img/product-2.jpg" alt="">
                                    </picture>
                                </div>
                                <div class="product-colors__name">Розовый</div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
                {% include "partials/product/_product-size.twig" %}
                <div class="product-description">
                    <h3 class="product-description__title">
                        Коротко о товаре:
                    </h3>
                    <div class="product-description__row">
                        <div class="product-description__col grey">Модель:</div>
                        <div class="product-description__col">Футболка женская люрекс</div>
                    </div>
                    <div class="product-description__row">
                        <div class="product-description__col grey">Ткань:</div>
                        <div class="product-description__col">Атаман</div>
                    </div>
                    <div class="product-description__row">
                        <div class="product-description__col grey">Состав:</div>
                        <div class="product-description__col">пэ95%; спандекс5%</div>
                    </div>
                    <div class="product-description__row">
                        <div class="product-description__col grey">Очень длинное название хар-ки:</div>
                        <div class="product-description__col">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius excepturi hic ratione! Amet autem beatae fugit iusto laborum natus numquam provident quam quisquam sit. Laborum necessitatibus nesciunt porro? Blanditiis, sit.</div>
                    </div>
                </div>
            </div>
            <div class="product-detail__col">
                <div class="product-card-info">
                    <div class="product-total product-total--big">
                        <div class="product-total__text">Итого:</div>
                        <div class="product-total__price">
                            <b>355 150</b> ₽
                        </div>
                        <div class="product-total__row">
                            <a href="#" class="btn btn--medium" data-modal-ajax-open="successful-addition">
                                <div class="btn__icon">
                                    {{ mixins.icon('basket') }}
                                </div>
                                <div class="btn__text">
                                    В корзину
                                </div>
                            </a>
                            <div class="favorite-icon">
                                {{ mixins.icon('heart') }}
                            </div>
                        </div>
                    </div>
                    <a href="./delivery.html" class="product-card-info__link">Доставка и оплата {{ mixins.icon('arrow-right') }}</a>
                    <a href="#" class="product-card-info__link" data-modal-ajax-open="make-order">Как сделать заказ {{ mixins.icon('arrow-right') }}</a>
                    <div class="product-card-info__bottom">
                        {% include "partials/_social-share.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-slider">
        <div class="section-slider__title title-h2">С этими товарами покупают</div>
        <div class="section-slider__container">
            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    {% for i in range(0, 15) %}
                        <div class="swiper-slide section-slider__item">
                            {% include "partials/_card-product.twig" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination--mod"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-arrow sm-none">
                <div data-swiper-prev class="swiper-arrow__item swiper-arrow__item--prev">
                    {{ mixins.icon('swiper-prev') }}
                </div>
                <div data-swiper-next class="swiper-arrow__item swiper-arrow__item--next">
                    {{ mixins.icon('swiper-next') }}
                </div>
            </div>
        </div>
    </section>
    <section class="section-slider">
        <div class="section-slider__title title-h2">Вы недавно смотрели</div>
        <div class="section-slider__container">
            <div class="swiper swiper-container">
                <div class="swiper-wrapper">
                    {% for i in range(0, 15) %}
                        <div class="swiper-slide section-slider__item">
                            {% include "partials/_card-product.twig" %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination--mod"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-arrow sm-none">
                <div data-swiper-prev class="swiper-arrow__item swiper-arrow__item--prev">
                    {{ mixins.icon('swiper-prev') }}
                </div>
                <div data-swiper-next class="swiper-arrow__item swiper-arrow__item--next">
                    {{ mixins.icon('swiper-next') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
