<header class="header">
    <div class="header__container">
        <div class="header__top">
            <div class="container">
                <a href="/" class="header__logo none md-block">
                    <img src="./img/logo.png" alt="logo">
                </a>
                <div class="header__nav md-none">
                    <a class="header__nav-link" href="#">О компании</a>
                    <a class="header__nav-link" href="#">Доставка и оплата</a>
                    <a class="header__nav-link" href="#">Отзывы</a>
                    <a class="header__nav-link" href="#">Сотрудничество</a>
                    <a class="header__nav-link" href="#">Прайс-лист</a>
                    <a class="header__nav-link" href="#">Размеры</a>
                    <a class="header__nav-link" href="#">Контакты</a>
                </div>
                <div class="header__callback sm-none">Перезвоните мне</div>
                <div class="header__phone">
                    <span data-modal-open="popup-callback">8 920 673 97 05</span>
                    {{ mixins.icon('arrow-bottom') }}
                    <div data-modal="popup-callback" data-disabled-scroll="false" class="header__phone-popup">
                        <div data-modal-close="popup-callback" class="back-bg"></div>
                        <div data-modal-inner="popup-callback" class="card-contacts">
                            <div class="card-contacts__item">
                                <a href="tel:84932554328">
                                   {{ mixins.icon('phone') }}
                                    8 (4932) 55-43-28
                                </a>
                                <span class="card-contacts__item-description"></span>
                            </div>
                            <div class="card-contacts__item">
                                <a href="tel:8 (920) 673-97-05">
                                    {{ mixins.icon('phone') }}
                                    8 (920) 673-97-05
                                </a>
                                <span class="card-contacts__item-description"> (viber, whatapp)</span>
                            </div>
                            <button type="button" class="btn btn--medium">
                                Заказать звонок
                            </button>
                            <div class="card-contacts__item" data-v-759b5fdc="">
                                {{ mixins.icon('message') }}
                                <span class="card-contacts__email" >
                                    astraivtex2010@yandex.ru
                                </span> <br>
                                Техническая поддержка
                            </div>
                            <button type="button" class="btn btn--medium">
                                Написать
                            </button>
                            <div class="card-contacts__item" data-v-759b5fdc="">
                                {{ mixins.icon('geolocation') }}
                                Россия, Иваново, ул. Громобоя, д. 1Б
                            </div>
                            <div class="card-contacts__social" data-v-759b5fdc="">
                                <div class="card-contacts__social-text" data-v-759b5fdc="">
                                    Присоединяйтесь к нам:
                                </div>
                                {% include "./_social.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <a href="/" class="header__logo md-none">
                    <img src="./img/logo.png" alt="logo">
                </a>
                <div class="header__menu none md-flex">
                    {{ mixins.icon('hamb-mobile') }}
                    Меню
                </div>
                <div class="header__catalog md-none">
                    <button class="btn btn--transparent btn--big" type="button">
                        {{ mixins.icon('hamburger') }}
                        Каталог
                    </button>
                </div>
                <div class="header__search">
                    <form action="#" class="form-search">
                        <input type="text" placeholder="Поиск по каталогу" class="form-search__input">
                        <div class="form-search__btn">
                            <button class="btn btn--pd-min btn--white btn--border-accent" aria-label="search"
                                    type="submit">
                                {{ mixins.icon('search') }}
                                <span class="sm-none">Найти</span>
                            </button>
                        </div>
                        <div class="form-search__result">
                            <div class="custom-scroll">
                                {% for i in range(0, 7) %}
                                    <a href="#" class="form-search__item">Халат 1</a>
                                    <a href="#" class="form-search__item">Халат 2</a>
                                {% endfor %}

                                {# <div class="form-search__message">Ничего не найдено</div> #}

                                {# <div class="form-search__message"> #}
                                {# <div class="loader"></div> #}
                                {# </div> #}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="customer-panel">
                    <a href="#" class="customer-panel__item none md-flex">
                        <div class="customer-panel__icon">
                            {{ mixins.icon('home') }}
                        </div>
                        <div class="customer-panel__name">
                            Главная
                        </div>
                    </a>
                    <a href="#" class="customer-panel__item none md-flex">
                        <div class="customer-panel__icon">
                            {{ mixins.icon('hamb-mobile') }}
                        </div>
                        <div class="customer-panel__name">
                            Каталог
                        </div>
                    </a>
                    <a href="#" class="customer-panel__item">
                        <div class="customer-panel__icon">
                            <div class="customer-panel__counter customer-panel__counter--accent">7</div>
                            {{ mixins.icon('user') }}
                        </div>
                        <div class="customer-panel__name">
                            Профиль
                        </div>
                    </a>
                    <a href="#" class="customer-panel__item">
                        <div class="customer-panel__icon">
                            <div class="customer-panel__counter">0</div>
                            {{ mixins.icon('heart') }}
                        </div>
                        <div class="customer-panel__name">
                            Избранное
                        </div>
                    </a>
                    <a href="#" class="customer-panel__item">
                        <div class="customer-panel__icon">
                            <div class="customer-panel__counter customer-panel__counter--accent">37</div>
                            {{ mixins.icon('basket') }}
                        </div>
                        <div class="customer-panel__name">
                            356 430 руб.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="catalog-menu">

</div>
