<header class="header">
    <div class="header__container">
        <div class="header__top">
            <div class="container">
                <a href="./" class="header__logo none md-block">
                    <img src="./img/logo.png" alt="logo">
                </a>
                <div class="header__nav md-none">
                    <a class="header__nav-link" href="./about.html">О компании</a>
                    <a class="header__nav-link" href="./delivery.html">Доставка и оплата</a>
                    <a class="header__nav-link" href="./reviews.html">Отзывы</a>
                    <a class="header__nav-link" href="#">Сотрудничество</a>
                    <a class="header__nav-link" href="#">Прайс-лист</a>
                    <a class="header__nav-link" href="./sizes.html">Размеры</a>
                    <a class="header__nav-link" href="./contacts.html">Контакты</a>
                </div>
                <div class="header__callback sm-none" data-modal-ajax-open="callback">Перезвоните мне</div>
                <div class="header__phone">
                    <span data-modal-open="popup-callback">8 920 673 97 05</span>
                    {{ mixins.icon('arrow-bottom') }}
                    <div data-modal="popup-callback" data-disabled-scroll="false" class="header__phone-popup">
                        <div data-modal-close="popup-callback" class="back-bg"></div>
                        <div data-modal-inner="popup-callback" class="card-contacts">
                            <div class="card-contacts__item">
                                <a href="tel:84932554328">
                                    {{ mixins.icon('phone') }}
                                    8 (4932) 55-43-28
                                </a>
                                <span class="card-contacts__item-description"></span>
                            </div>
                            <div class="card-contacts__item">
                                <a href="tel:8 (920) 673-97-05">
                                    {{ mixins.icon('phone') }}
                                    8 (920) 673-97-05
                                </a>
                                <span class="card-contacts__item-description"> (viber, whatapp)</span>
                            </div>
                            <button type="button" data-modal-ajax-open="callback" class="btn btn--medium">
                                Заказать звонок
                            </button>
                            <div class="card-contacts__item" data-v-759b5fdc="">
                                {{ mixins.icon('message') }}
                                <span class="card-contacts__email">
                                    astraivtex2010@yandex.ru
                                </span> <br>
                                Техническая поддержка
                            </div>
                            <button type="button" class="btn btn--medium" data-modal-ajax-open="message">
                                Написать
                            </button>
                            <div class="card-contacts__item" data-v-759b5fdc="">
                                {{ mixins.icon('geolocation') }}
                                Россия, Иваново, ул. Громобоя, д. 1Б
                            </div>
                            <div class="card-contacts__social" data-v-759b5fdc="">
                                {% include "./_social.twig" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header__bottom">
            <div class="container">
                <a href="./" class="header__logo md-none">
                    <img src="./img/logo.png" alt="logo">
                </a>
                <div class="header__menu none md-flex">
                    <span class="open"> {{ mixins.icon('hamb-mobile') }} Меню </span>
                    <span class="close"> {{ mixins.icon('close') }} Закрыть </span>
                </div>

                <div class="header__catalog md-none">
                    <button class="btn btn--transparent btn--big" data-modal-toggle="menu-catalog" type="button">
                        {{ mixins.icon('hamburger') }}
                        {{ mixins.icon('close') }}
                        Каталог
                    </button>
                </div>
                <div class="header__search">
                    <form action="#" class="form-search">
                        <input type="text" placeholder="Поиск по каталогу" class="form-search__input">
                        <div class="form-search__btn">
                            <button class="btn btn--pd-min btn--white btn--border-accent" aria-label="search"
                                    type="submit">
                                {{ mixins.icon('search') }}
                                <span class="sm-none">Найти</span>
                            </button>
                        </div>
                        <div class="form-search__result">
                            <div class="custom-scroll">
                                {% for i in range(0, 7) %}
                                    <a href="#" class="form-search__item">Халат 1</a>
                                    <a href="#" class="form-search__item">Халат 2</a>
                                {% endfor %}

                                {# <div class="form-search__message">Ничего не найдено</div> #}

                                {# <div class="form-search__message"> #}
                                {# <div class="loader"></div> #}
                                {# </div> #}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="customer-panel">
                    <a href="./" class="customer-panel__item none md-flex">
                        <div class="customer-panel__icon">
                            {{ mixins.icon('home') }}
                        </div>
                        <div class="customer-panel__name">
                            Главная
                        </div>
                    </a>
                    <a href="#" data-modal-toggle="menu-catalog" class="customer-panel__item none md-flex">
                        <div class="customer-panel__icon">
                            {{ mixins.icon('hamb-mobile') }}
                        </div>
                        <div class="customer-panel__name">
                            Каталог
                        </div>
                    </a>
                    <a href="./profile.html" data-modal-ajax-open="auth" class="customer-panel__item">
                        <div class="customer-panel__icon">
                            <div class="customer-panel__counter customer-panel__counter--accent">7</div>
                            {{ mixins.icon('user') }}
                        </div>
                        <div class="customer-panel__name">
                            Профиль
                        </div>
                    </a>
                    <a href="./favorites.html" class="customer-panel__item">
                        <div class="customer-panel__icon">
                            <div class="customer-panel__counter">0</div>
                            {{ mixins.icon('heart') }}
                        </div>
                        <div class="customer-panel__name">
                            Избранное
                        </div>
                    </a>
                    <a href="./basket.html" class="customer-panel__item">
                        <div class="customer-panel__icon">
                            <div class="customer-panel__counter customer-panel__counter--accent">37</div>
                            {{ mixins.icon('basket') }}
                        </div>
                        <div class="customer-panel__name">
                            356 430 руб.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-mobile" data-modal="menu-mobile" data-modal-inner="menu-mobile">
        <div class="menu-mobile__wrap">
            <a href="#" class="menu-mobile__link" data-modal-open="menu-catalog">
                Каталог
                <span class="icon-circle">
                    {{ mixins.icon('arrow-right') }}
                </span>
            </a>
            <a href="./about.html" class="menu-mobile__link">О компании</a>
            <a href="./delivery.html" class="menu-mobile__link">Доставка и оплата</a>
            <a href="./reviews.html" class="menu-mobile__link">Отзывы</a>
            <a href="#" class="menu-mobile__link">Сотрудничество</a>
            <a href="#" class="menu-mobile__link">Прайс-лист</a>
            <a href="./sizes.html" class="menu-mobile__link">Размеры</a>
            <a href="./contacts.html" class="menu-mobile__link">Контакты</a>
            <div class="card-contacts card-contacts--mod">
                <div class="card-contacts__item">
                    <a href="tel:84932554328">
                        {{ mixins.icon('phone') }}
                        8 (4932) 55-43-28
                    </a>
                    <span class="card-contacts__item-description"></span>
                </div>
                <div class="card-contacts__item">
                    <a href="tel:8 (920) 673-97-05">
                        {{ mixins.icon('phone') }}
                        8 (920) 673-97-05
                    </a>
                    <span class="card-contacts__item-description"> (viber, whatapp)</span>
                </div>
                <button type="button" data-modal-ajax-open="callback" class="btn btn--medium">
                    Заказать звонок
                </button>
                <div class="card-contacts__item" data-v-759b5fdc="">
                    {{ mixins.icon('message') }}
                    <span class="card-contacts__email">
                                    astraivtex2010@yandex.ru
                                </span> <br>
                    Техническая поддержка
                </div>
                <button type="button" class="btn btn--medium" data-modal-ajax-open="message">
                    Написать
                </button>
                <div class="card-contacts__item" data-v-759b5fdc="">
                    {{ mixins.icon('geolocation') }}
                    Россия, Иваново, ул. Громобоя, д. 1Б
                </div>
                <div class="card-contacts__social" data-v-759b5fdc="">
                    {% include "./_social.twig" %}
                </div>
            </div>
        </div>
    </div>
    <div class="menu-catalog" data-modal="menu-catalog">
        <div class="menu-catalog__wrapper container" data-modal-inner="catalog-menu">
            <div class="menu-catalog__left custom-scroll">
                {% include "./_recommendations.twig" %}
                {% for i in range(0, 2) %}
                    {% for item in data.catalogMenu %}
                        <a href="#" class="menu-catalog__link" data-menu-open="{{ item.title }}">{{ item.title }}</a>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="menu-catalog__right custom-scroll">
                {% for item in data.catalogMenu %}
                    <div class="menu-catalog__second" data-disabled-scroll="false" data-modal="{{ item.title }}" data-modal-inner="{{ item.title }}">
                        <a href="#" data-modal-close="{{ item.title }}" class="menu-catalog__back none">
                            <span>
                                {{ mixins.icon('arrow-left') }}
                            </span>
                            Назад
                        </a>
                        <h4 class="menu-catalog__title">{{ item.title }}</h4>
                        <ul>
                            {% for el in item.list %}
                                <li>
                                    <a href="{{ data.baseUrl }}/catalog.html">{{ el.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</header>


