<div class="social-share">
    <div class="social-share__text">Поделиться в соц. сетях</div>
    <div class="social-share__row">
        <a href="#" class="social-share__item social-share__item--vk">
            {{ mixins.icon('vk') }}
        </a>
        <a href="#" class="social-share__item social-share__item--ok">
            {{ mixins.icon('ok') }}
        </a>
        <a href="#" class="social-share__item social-share__item--vb">
            {{ mixins.icon('vb') }}
        </a>
        <a href="#" class="social-share__item social-share__item--wa">
            {{ mixins.icon('wa') }}
        </a>
        <a href="#" class="social-share__item social-share__item--telegram">
            {{ mixins.icon('telegram') }}
        </a>
    </div>
</div>
