<div class="social-share">
    <div class="social-share__text">Поделиться в соц. сетях</div>
    <div class="social-share__row">
        <a  href="https://test.com" data-share="vk" class="social-share__item social-share__item--vk">
            {{ mixins.icon('vk') }}
        </a>
        <a  href="https://test.com" data-share="ok" class="social-share__item social-share__item--ok">
            {{ mixins.icon('ok') }}
        </a>
        <a  href="https://test.com" data-share="viber" class="social-share__item social-share__item--vb">
            {{ mixins.icon('vb') }}
        </a>
        <a  href="https://test.com" data-share="whatsapp" class="social-share__item social-share__item--wa">
            {{ mixins.icon('wa') }}
        </a>
        <a href="https://google.com" data-share="telegram" class="social-share__item social-share__item--telegram">
            {{ mixins.icon('telegram') }}
        </a>
    </div>
</div>
